<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>📚 Amazon Kindle Review Sentiment Analysis</h1>

    <p class="description">
        This project uses Natural Language Processing and Machine Learning
        to analyze whether a Kindle book review is positive or negative.
    </p>

    <a href="/index">
        <button class="btn">Try the Model</button>
    </a>

</div>

</body>
</html>